header {
    background-color: aquamarine;
    padding: 10px 0;
    .container {
        max-width: 1180px;
        width: 100%;
        margin: 0 auto;
        border: 2px solid black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            font-size: 48px;
            color: $chemiferi;
        }
        ul {
            display: flex;
            gap: 30px;
            a {
                font-size: 36px;
                color: $chemiferi;
            }
        }
    }
}

.s-1 {
    background-color: rgb(228, 215, 170);
    .container {
        max-width: 1180px;
        width: 100%;
        margin: 0 auto;
        // border: 2px solid black;
        .wrapper {
            height: 500px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .card {
                @include chemibarati;
            }
        }
    }
}
